@import "base/_general.scss";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

$color-black: #252525;
$color-yellow: #e07f14;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #fff;
  background-color: #1d1d1d;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: $color-yellow;
  }
}

.js-menu__link-active {
  color: $color-yellow;
}

h1 {
  margin-top: 30px;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #fff;
  position: relative;

  @include md-block() {
    font-size: 30px;
  }

  &::after { //line after h2
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 6px;
    width: 180px;
    background-color: $color-yellow;

    @include md-block() {
      content: none;
    }
  }
}

.link-top {
  width: 0;
  height: 0;
  background-color: $color-yellow;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: all .3ms;

  &.visible {
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0;
    animation: visible 2s forwards;
    z-index: 9;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-mobile__button {
  position: relative;
  width: 24px;
  height: 15px;
  cursor: pointer;
  display: none;
  z-index: 99999;

  @include md-block() {
    display: block;
  }

  .header-mobile__button--line {
    position: relative;
    width: 100%;
    height: 2px;
    transition: 1s ease;
    background-color: $color-yellow;
    border-radius: 3px;

    &:nth-of-type(2) {
      margin: 5px 0;
    }

    &--1 {
      position: absolute;
      top: 13px;
      transform: rotate(45deg);
    }

    &--2 {
      display: none;
    }

    &--3 {
      position: absolute;
      top: 13px;
      transform: rotate(135deg);
    }
  }
}

.mobile-menu {
  display: block;
  position: absolute;
  z-index: 9998;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  transition: 0.6s ease;
  background: #1d1d1d;
  opacity: 0;

  ul {
    position: relative;
    top: 50%;
    padding: 0;
    transform: translateY(-50%);
    flex-direction: column;

    li {
      list-style: none;

      a {
        display: block;
        position: relative;
        width: 100%;
        max-width: 1200px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: $color-yellow;
        font-size: 20px;
        font-weight: 300;

        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100%;
          transition: 0.4s ease;
          background: #000;
        }

        &:hover {
          color: #fff;

          &::after {
            right: 0;
          }
        }
      }
    }
  }
}

.mobile-menu--open {
  right: 0;
  opacity: 1;
}

.header {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 20vh;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/sprites/sprite.svg#bg);
    background-size: cover;
    background-position: center center;
    opacity: .1;
    z-index: -1;
  }

  &__nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px 0;
    z-index: 9;
    background-color: #1d1d1d;

    @include md-block() {
      padding: 6px 0;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__item {
        &--nav {
          width: 50%;

          @include lm-block() {
            width: 70%;
          }

          @include md-block() {
            display: none;
          }
        }
      }
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &--link {
        font-size: 24px;
      }
    }
  }
}

.social-links {
  &__title {
    font-size: 24px;
    writing-mode: vertical-rl;

    @include md-block() {
      writing-mode: horizontal-tb;
    }
  }

  &__hr {
    width: 2px;
    height: 20vh;
    border: none;
    background-color: $color-yellow;
    margin: 20px 0;

    @include md-block() {
      width: 60px;
      height: 2px;
    }
  }

  &__items {
    &__item {
      margin-top: 10px;

      &:hover {
        transform: scale(1.3);
      }

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.home {
  height: 80vh;
  position: relative;

  &__text-bg {
    position: absolute;
    font-weight: 700;
    font-size: 283px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #393E46;
    text-transform: uppercase;
    mix-blend-mode: screen;
    opacity: 0.5;
    z-index: -1;

    @include md-block() {
      display: none;
    }
  }

  &__items {
    height: 100%;
    @include row-flex();
    align-items: flex-end;

    @include md-block() {
      height: 80%;
      margin-top: 5%;
    }

    &__item {
      @include col();

      &--text {
        @include size(5);
        @include size-md(12);

        @include md-block() {
          text-align: center;
        }
      }

      &--photo {
        @include size(5);
        @include size-md(12);
        display: flex;
        justify-content: center;

        &-inner {
          width: 300px;
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $color-yellow;
          overflow: hidden;

          @include xxs-block() {
            width: 200px;
            height: 200px;
          }

          &--pic {
            margin-bottom: -20px;
          }
        }
      }

      &--social {
        @include size(2);
        @include size-md(12);
        display: flex;
        flex-direction: column;
        align-items: center;

        .social-links__items {
          display: flex;
          flex-direction: column;

          @include md-block() {
            flex-direction: row;
          }
        }
      }
    }
  }
}

.section {
  padding: 40px 0;

  &__title {
    text-align: center;

    &::after { //line after section__title
      content: '';
      position: absolute;
      left: calc(50% - 90px);
      bottom: -10px;
      height: 6px;
      width: 180px;
      background-color: $color-yellow;

      @include md-block() {
        width: 60px;
        height: 2px;
        left: calc(50% - 30px);
      }
    }
  }
}

.about-me {
  background-color: #3a3737;
  position: relative;
  overflow: hidden;
  padding: 100px 0;

  &::before, &::after {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    bottom: 0;
    opacity: .5;
    background-image: linear-gradient($color-yellow 50%, transparent 0);
    background-size: 100% 10px;
    background-position: 0 0;
    animation: movebg 0.5s linear infinite;
    will-change: transform;
    width: 2px;
  }

  &::after {
    left: 12%;
  }

  &__text {
    width: 70%;
    margin: 40px auto 0;
    font-size: 24px;
    text-align: center;

    @include md-block() {
      font-size: 16px;
    }
  }

  @keyframes movebg {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 10px, 0);
    }
  }
}

.stack {
  display: flex;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid $color-yellow;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 40px;
  box-sizing: border-box;

  @include md-block() {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__title {
    position: relative;
    z-index: 2;
    background-color: $color-yellow;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;

    @include md-block() {
      width: 100px;
      height: 20px;
      font-size: 14px;
    }
  }

  &__percent {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: rgba(224, 127, 20, 0.71);
    height: 30px;
    transition: 1s 0.2s width;
  }
}

.section-stack {
  background-image: url(../img/bg-about.svg);
  background-size: contain;
  background-repeat: no-repeat;

  @include md-block() {
    background-image: none;
  }

  &__item {
    width: 70%;
    margin: 0 auto;

    @include md-block() {
      width: 100%;
    }
  }
}

.portfolio {
  background-color: #3a3737;

  &__items {
    overflow: hidden;
    position: relative;
    @include row-flex();
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 400px;

    @include md-block() {
      margin-bottom: 240px;
    }

    @include xxs-block() {
      margin-bottom: 140px;
    }

    &__item {
      @include col();
      @include size(4);
      @include size-md(6);
      @include size-sm(10);
      @include size-xxs(12);

      cursor: pointer;
      height: 240px;
      position: relative;
      border-radius: 12px;
      margin-bottom: 20px;
      overflow: hidden;

      &:hover {
        .portfolio__items__item--back {
          left: 0;
        }
      }

      @include sm-block() {
        height: 300px;
      }

      @include xxs-block() {
        height: 240px;
      }

      &--front,
      &--back {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #1d1d1de8;
        box-sizing: border-box;
      }

      &--front {
        background: linear-gradient(to top left, $color-yellow, #1d1d1d);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--back {
        position: absolute;
        top: 0;
        left: 100%;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.4s;
      }

      &--text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &--title {
        font-weight: 300;
        font-size: 18px;
      }
    }
  }
}

.footer {
  position: relative;

  &__content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30%;
    background-image: url(../img/bg-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 60px;

    @include md-block() {
      height: 300px;
      padding-top: 100px;
    }
  }

  .social-links__items {
    margin-top: 60px;

    &__item {
      margin: 0 10px;

      &:hover {
        svg {
          transform: scale(1.5);
        }
      }

      svg {
        width: 40px;
        height: 40px;

        @include md-block() {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}